<div class="row">
<h1 class="text-center">Dashboard</h1>
<div class="col-md-4">
<h3 class="text-center">
Books <%= link_to "New Book", new_book_path, class: "btn btn-primary btn-sm" %>
</h3>
<%= render "books" %>
</div>
<div class="col-md-4">
<h3 class="text-center">
Purchased
</h3>
<%= render "purchased" %>
</div>
<div class="col-md-4">
<h3 class="text-center">
Sales
</h3>
<%= render "sales" %>
</div>
</div>