<div class="container">
<div class="row">
<h1 class="text-center">Dashboard</h1>
<div class="text-center"><%= link_to "New Book", new_book_path, class: "btn btn-primary btn-sm" %></div>
<div class="clearfix"></div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Books
</h3>
</div>
<%= render "books" %>
</div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Purchased
</h3>
</div>
<%= render "purchased" %>
</div>
<div class="col-md-4">
<div class="dash-box">
<h4 class="white uppercase">
Sales
</h3>
</div>
<%= render "sales" %>
</div>
</div>
</div>