<div class="background-image">
<div class="container">
<div class="col-lg-6 col-lg-offset-3">
<div class="jumbotron text-center">
<h2 class="uppercase">Welcome to our store</h2>
<p>The largest online Digital Books Store</p>
<%= link_to "Books", books_path, class: "btn btn-primary btn-block" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
</div>


</div>
<div class="clearfix"></div>
<div class="row">
<%= render @books %>




</div>
</div>
</div>