// FONTS

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

$font-family-sans-serif: 'Roboto Slab', sans-serif;
$font-family-serif: 'Slabo 27px', serif;

// NAVBAR

$navbar-default-bg: #F66A55; 
$navbar-border-radius: 0px;
$navbar-height: 40px;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-border: transparent;

// COLORS

$brand-primary: #F66A55;

// BORDERS

$border-radius-base: 1px;
$border-radius-small: 0px;
$border-radius-large: 2px;

// BUTTONS

$btn-font-weight: 500;